/*  import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Basic setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem;
}
img {
    width: 100%;
}
.max-width {
    max-width: 130rem;
    padding: 0 8rem;
    margin: auto;
}
/* navbar section */
.navbar {
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    font-family: 'Ubuntu', sans-serif;
    /* background: rgba(22, 31, 109, 0.5); */
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 0.5rem 0;
    background: rgba(22, 31, 109, 1);
    transition: all 0.3s ease;
    z-index: 999;
}
.navbar .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    width: 300px;
}
.navbar .menu li {
    display: inline-block;
}
.navbar .menu li a {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 2.5rem;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.navbar.sticky .menu li a {
    color: rgb(255, 255, 255);
}
.navbar .menu li a:hover {
    color: rgb(255, 255, 255);
}
.navbar.sticky:hover .menu li a:hover {
    color: rgb(204, 7, 7);
}
/* menu button */
.menu-btn {
    color: #fff;
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
}
/* home section */
.home {
    background-color: #00ABE1;
    height: 100vh;
    color: black;
    min-height: 50rem;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
}
.home .max-width {
    /* margin: auto 0 auto 40px; */
    width:100%;
}
.home .home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.home .home-content .home-text {
    flex-basis: 50%;
}
.home .home-content .home-product img {
    border: 1rem solid black;
    border-radius: 50%;
}
.home .home-content .text-2 {
    font-family: 'Li Sirajee Sheikh Unicode';
    font-size: 6.5rem;
    font-weight: 600;
    /* margin-left: -.3rem; */
}
.home .home-content .text-2 > span {
    color: rgb(204, 7, 7);
}
.home .home-content .text-3 {
    font-family: 'Li Ihtisham Deshlipi Unicode';
    font-size: 3rem;
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color: rgba(22, 31, 109, 1);
    font-weight: 500;
}
.home .home-content .text-3 span .text-3-2 {
    color: #fff;
    font-weight: 500;
}
/* author section starts here */
section {
    padding: 10rem 0;
}
.author {
    font-family: 'Poppins', sans-serif;
    background-color: #DFF6FF;
}
.author .title, .contact .title {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
.author .title::before, .contact .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40rem;
    height: .3rem;
    background:rgb(0, 0, 0);
    transform: translateX(-50%);
}
.author .title::after, .contact .title::after {
    content: "Developer and CEO";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 2rem;
    text-transform: uppercase;
    color:rgb(204, 7, 7);
    padding: .5rem;
    background:#DFF6FF;
    transform: translateX(-50%);
}
.author .author-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.author .author-content .right > p {
    font-family: 'Li Shamim Cholontika Unicode';
    font-size: 2rem;
    color: rgba(22, 31, 109, 1); 
}
.author .author-content .left {
    width: 45%;
}
.author .author-content .left img {
    height: 40rem;
    width: 40rem;
    border: .5rem solid rgb(0, 0, 0);
    border-radius:.6rem;
}
.author .author-content .right {
    width: 55%;
}
.author .author-content .right > p {
    text-align: justify;
    font-weight: 600;
    line-height: 2;
    transition: all .3s ease;
}

/* gallery here */
.g-sec {
    position: relative;
    background-color: #DFF6FF;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}
.wrapper .gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery .image {
    padding: 7px;
    width: calc(100% / 3);
}
.gallery span {
    display: flex;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.gallery .image img {
    vertical-align: middle;
    transition: all 0.3s ease;
}
.gallery .image:hover img {
    transform: scale(1.1);
}
.preview-box {
    position: absolute;
    max-width: 700px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.9);
    background: rgba(22, 31, 109, 1);
    padding: 0 5px 5px 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(145, 145, 145, 0.2);
    z-index: 998;
}
.preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
    transition: all 0.3s ease;
}
.preview-box .details {
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
}
.preview-box .details .icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px; 
}
.details .title-g {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.details .title-g p {
    margin: 0 5px;
}
.details .title-g p.current-img {
    font-weight: 500;
}
.preview-box .img-box {
    display: flex;
    width: 100%;
}
.img-box .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color:rgb(204, 7, 7);
    cursor: pointer;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.img-box .slide.prev {
    left: 0;
}
.img-box .slide.next {
    right: 0;
}
.preview-box .img-box img {
    border-radius: 0 0 3px 3px;
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}


/* contact section styling */
.contact .title {
    color:rgba(22, 31, 109, 1);
}
.contact .title::before{
    background:rgba(22, 31, 109, 1);
}
.contact .title::after{
    content: "get in touch";
    background:#ffffff;
}
.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none !important;
}
.contact .right form .button-area{
  display: flex !important;
  align-items: center !important;
}
.right form .button-area button{
  /* color: #fff;
  display: block !important;
  width: 160px!important;
  height: 45px!important;
  line-height: 45px!important;
  outline: none;
  font-size: 18px!important;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  text-align: center !important; */
  padding: 1.5rem 3rem;
  transition: all 0.3s ease;
  background:rgba(22, 31, 109, 1);
  color: #fff;
  border: 2px solid rgba(22, 31, 109, 1);
}

.right form .button-area button:hover{
  /* color: crimson;
  background: none; */
  padding: 1.5rem 5rem;
  transition: all 0.3s ease;
  color: crimson;
}

