/*  import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Basic setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem;
}
img {
    width: 100%;
    height: auto;
}
.max-width {
    max-width: 130rem;
    padding: 0 8rem;
    margin: auto;
}
/* navbar section */
.navbar {
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    font-family: 'Ubuntu', sans-serif;
    /* background: rgba(22, 31, 109, 0.5); */
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 0.5rem 0;
    background: rgba(22, 31, 109, 1);
    transition: all 0.3s ease;
    z-index: 999;
}
.navbar .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    width: 300px;
}
.navbar .menu li {
    display: inline-block;
}
.navbar .menu li a {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 2.5rem;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.navbar.sticky .menu li a {
    color: rgb(255, 255, 255);
}
.navbar .menu li a:hover {
    color: rgb(255, 255, 255);
}
.navbar.sticky:hover .menu li a:hover {
    color: rgb(204, 7, 7);
}
/* menu button */
.menu-btn {
    color: #fff;
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
}
/* home section */
.home {
    background-color: #00ABE1;
    height: 100vh;
    color: black;
    min-height: 50rem;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
}
.home .max-width {
    /* margin: auto 0 auto 40px; */
    width:100%;
}
.home .home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.home .home-content .home-text {
    flex-basis: 50%;
}
.home .home-content .home-product img {
    border: 1rem solid black;
    border-radius: 50%;
}
.home .home-content .text-2 {
    font-family: 'Li Sirajee Sheikh Unicode';
    font-size: 6.5rem;
    font-weight: 600;
    /* margin-left: -.3rem; */
}
.home .home-content .text-2 > span {
    color: rgb(204, 7, 7);
}
.home .home-content .text-3 {
    font-family: 'Li Ihtisham Deshlipi Unicode';
    font-size: 3rem;
    margin: 5px 0;
}
.home .home-content .text-3 span {
    color: rgba(22, 31, 109, 1);
    font-weight: 500;
}
.home .home-content .text-3 span .text-3-2 {
    color: #fff;
    font-weight: 500;
}
/* author section starts here */
section {
    padding: 10rem 0;
}
.author {
    font-family: 'Poppins', sans-serif;
    background-color: #DFF6FF;
}
.author .title {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 6rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
.author .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40rem;
    height: .3rem;
    background:rgb(0, 0, 0);
    transform: translateX(-50%);
}
.author .title::after {
    content: "Developer and CEO";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 2rem;
    text-transform: uppercase;
    color:rgb(204, 7, 7);
    padding: .5rem;
    background:#DFF6FF;
    transform: translateX(-50%);
}
.author .author-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.author .author-content .left {
    width: 45%;
}
.author .author-content .left img {
    height: 40rem;
    width: 40rem;
    border: .5rem solid rgb(0, 0, 0);
    border-radius:.6rem;
}
.author .author-content .right {
    width: 55%;
}
.author .author-content .right > p {
    text-align: justify;
    font-weight: 600;
    line-height: 2;
    transition: all .3s ease;
}


