
@media only screen and (max-width: 991px) {
    .max-width {
        padding: 0 5rem;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d"
    }
    .navbar .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        background-color: rgba(22, 31, 109, 1);
        text-align: center;
        padding-top: 8rem;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 2rem 0;
        font-size: 2.5rem;
        font-weight: bolder;
        color: rgb(204, 7, 7);
        text-transform: uppercase;
    }
    .navbar .menu li a:hover {
        color: rgb(255, 255, 255);
    }
    .navbar.sticky:hover .menu li a:hover {
        color: white;
    }
    
    /* home section */
    .home {
        background-color: #00ABE1;
        height: auto;
        padding-top: 16%;
        padding-bottom: 5%;
    }
    .home .home-content {
        flex-direction: column;
        
    }
    .home .home-content .home-text {
        /* background-color: #fd59da; */
        text-align: center;
    }
    .home .home-content .home-product {
        text-align: center;
    }
    .home .home-content .home-product img {
        /* width: 80%; */
    }
}
/* home section */
@media only screen and (max-width: 768px) {
    .home {
        padding-top: 20%;
    }
    .home .home-content .text-2 {
        font-size: 6rem;
    }
}
/* home section */
@media only screen and (max-width: 576px) {
    .navbar .logo {
        width: 150px;
    }
    .home {
        padding-top: 22%;
    }
    .home .home-content .text-2 {
        font-size: 3rem;
    }
}
